header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0 1rem 0.5rem 1rem;
  margin: 0 2rem;
  border-bottom: 1px solid #e8e8e8;
}

header h1 {
  margin-right: auto;
  font-size: 36px;
  font-weight: 500;
  color: #333;
}

img {
  width: 65px;
  height: 65px;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 2rem;
}

li a {
  font-size: 18px;
  text-decoration: none;
  color: #007fff;
  font-weight: 400;
}

.active {
  text-decoration: underline;
  color: #007fff;
}

span {
  border: 1px solid #8e8e8e;
}
