.profile {
  display: flex;
  justify-content: space-between;
}

/* Styles for Rockets */
.rockets,
.missions {
  width: 40%;
  height: 100%;
  margin: 0 50px;
  padding: 15px;
}

.rockets h2,
.missions h2 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 500;
}

.rockets ul,
.missions ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 0;
}

.rockets li,
.missions li {
  padding: 20px 0 40px 20px;
  border: 1px solid #1a0e0e;
  font-size: 20px;
  margin-bottom: -1px;
}
