.profile {
  display: flex;
  justify-content: space-around;
  color: #333;
}

.rockets,
.missions-profile {
  width: 30rem;
  height: 100%;
  margin: 0;
  padding: 15px;
}

.rockets h2,
.missions-profile h2 {
  width: 12rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 500;
}

.rockets ul,
.missions-profile ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.rockets li,
.missions-profile li {
  padding: 25px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  font-size: 20px;
  margin-bottom: -1px;
}

.not-reserved {
  padding: 0.5rem;
  border: none;
  font-size: 1rem;
  margin-top: 2rem;
  font-style: italic;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 10rem;
}
