.rocket {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 50px;
  gap: 50px;
}

.rocket div {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.rocket-info {
  display: flex;
  flex-direction: column;
  color: #333;
}

.rocket-info h2 {
  font-size: 26px;
  font-weight: 500;
}

.badge-adj {
  display: flex;
}

.reserved-badge {
  color: #fff;
  background-color: green;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.7px;
  border-radius: 5px;
  border: none;
  padding: 1px 5px;
  margin-right: 10px;
}

.rocket-info p {
  font-size: 20px;
  font-weight: 400;
  margin-top: -10px;
}

.rocket-info button {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.3px;
  border-radius: 4px;
  padding: 10px 25px;
  cursor: pointer;
}

.rocket-info #add-reservation {
  background-color: #007fff;
  color: #fff;
  border: none;
}

.rocket-info #cancel-reservation {
  background-color: #fff;
  color: #555;
  border: 1px solid #888;
}

.rocket img {
  width: 100%;
  max-width: 350px;
  height: 250px;
  border-radius: 10px;
}

/* Details Section */
.rocket-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  list-style: none;
  padding: 20px;
  margin: 0;
}

.rocket-detail {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  padding: 20px;
  background-color: aliceblue;
}

.rocket-detail strong {
  min-width: 120px;
  margin-right: 16px;
}

.rocket-detail span {
  margin-left: 8px;
}

.rocket-info #details-button {
  background-color: #e8e8e8;
  color: #999;
  border: none;
  cursor: pointer;
}

.rocket-info #details-button:hover {
  background-color: #e1e1e1;
  color: #666;
}

.item-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
