* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.rocket {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 50px;
  gap: 50px;
}

.rocket div {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.rocket-info {
  display: flex;
  flex-direction: column;
  color: #333;
}

.rocket-info h2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
}

.rocket-info p {
  font-size: 20px;
  font-weight: normal;
  margin-top: -25px;
}

.rocket-info button {
  font-size: 18px;
  font-weight: lighter;
  letter-spacing: 0.3px;
  margin-top: 0;
  border-radius: 4px;
  padding: 10px 25px;
}

.rocket-info #add-reservation {
  background-color: #007fff;
  color: #fff;
  border: none;
}

.rocket-info #cancel-reservation {
  background-color: #fff;
  color: #555;
  border: 1px solid #888;
}

.rocket img {
  width: 100%;
  max-width: 400px;
  height: auto;
}
