.rocket {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}

.rocket h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.rocket p {
  font-size: 16px;
  margin-bottom: 20px;
}

.rocket img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
